* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Bree Serif';
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.search-container {
  text-align: center;
  min-width: 80%;
}
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: #f1f5f9;
  border-radius: 13px;
  padding: 5px 12px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border-radius: 13px;
  border-style: none;
  border-width: none;
  outline: none;
  cursor: pointer;
  background-color: #f1f5f9;
  color: #0f172a;
  padding: 5px;
  font-weight: 600;
  width: 90%;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.destination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
}
